@page
@model CareHome.Views.ContactDetails.DeleteModel

<dt class="col-sm-2">
    <h4>Contact Details</h4>
    <hr />
</dt>
<dt class="col-sm-4">
    @Html.DisplayNameFor(model => model.ContactDetails.ContactName)
</dt>
<dd class="col-sm-10">
    @Html.DisplayFor(model => model.ContactDetails.ContactName)
</dd>
<dt class="col-sm-4">
    @Html.DisplayNameFor(model => model.ContactDetails.PrimaryNumber)
</dt>
<dd class="col-sm-10">
    @Html.DisplayFor(model => model.ContactDetails.PrimaryNumber)
</dd>
<dt class="col-sm-4">
    @Html.DisplayNameFor(model => model.ContactDetails.SecondaryNumber)
</dt>
<dd class="col-sm-10">
    @Html.DisplayFor(model => model.ContactDetails.SecondaryNumber)
</dd>
<dt class="col-sm-4">
    @Html.DisplayNameFor(model => model.ContactDetails.EMail)
</dt>
<dd class="col-sm-10">
    @Html.DisplayFor(model => model.ContactDetails.EMail)
</dd>

