@model CareHome.Models.CareHomes

<div>
    <h4>Contact Details</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.ContactInfo.ContactName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ContactInfo.ContactName)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.ContactInfo.PrimaryNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ContactInfo.PrimaryNumber)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.ContactInfo.SecondaryNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ContactInfo.SecondaryNumber)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.ContactInfo.EMail)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ContactInfo.EMail)
        </dd>
    </dl>
</div>

