@model CareHome.Models.CareHomes

<div>
    <h4>ContactInfo</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ContactInfo.ContactName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ContactInfo.ContactName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ContactInfo.HomeNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ContactInfo.HomeNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ContactInfo.MobileNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ContactInfo.MobileNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ContactInfo.EMail)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ContactInfo.EMail)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ContactInfo.PostCode)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ContactInfo.PostCode)
        </dd>
    </dl>
</div>

