@model CareHome.Models.ContactDetails

<div>
    <h4>Contact Details</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.ContactName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ContactName)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.PrimaryNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PrimaryNumber)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.SecondaryNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SecondaryNumber)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.EMail)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EMail)
        </dd>
    </dl>
</div>

