@model CareHome.Models.ContactDetails

<div data-contact-details-table="@ViewData["ItemID"]" class="modal">
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ContactName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PrimaryNumber)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SecondaryNumber)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EMail)
                </th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <td>
                    @Html.DisplayFor(model => model.ContactName)
                </td>
                <td>
                    @Html.DisplayFor(model => model.PrimaryNumber)
                </td>
                <td>
                    @Html.DisplayFor(model => model.SecondaryNumber)
                </td>
                <td>
                    @Html.DisplayFor(model => model.EMail)
                </td>

            </tr>
        </tbody>
    </table>
</div>