@model CareHome.Models.CareHomes

<div class="ContactInfoTable modal">
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ContactInfo.ContactName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ContactInfo.PrimaryNumber)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ContactInfo.SecondaryNumber)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ContactInfo.EMail)
                </th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <td>
                    @Html.DisplayFor(model => model.ContactInfo.ContactName)
                </td>
                <td>
                    @Html.DisplayFor(model => model.ContactInfo.PrimaryNumber)
                </td>
                <td>
                    @Html.DisplayFor(model => model.ContactInfo.SecondaryNumber)
                </td>
                <td>
                    @Html.DisplayFor(model => model.ContactInfo.EMail)
                </td>

            </tr>
        </tbody>
    </table>
</div>