@model IEnumerable<CareHome.Models.CareHomes>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.Label("Address Details")
            </th>
            <th>
                @Html.Label("Contact Details")
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    <a href="javascript:void(0);" rel="modal:open" class="DisplayAddressDetail">view</a>
                    @await Html.PartialAsync("../AddressDetails/Index.cshtml", item.AddressDetails,ViewData)
                </td>
                <td>
                    <a href="javascript:void(0);" rel="modal:open" class="DisplayContactDetails">view</a>
                    @await Html.PartialAsync("../ContactDetails/Index.cshtml", item.ContactInfo)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.CareHomesId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.CareHomesId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.CareHomesId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
