@model CareHome.Models.AddressDetails

<div data-address-details-table="@ViewData["ItemID"]" class="modal">
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.NumberStreetName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Locality)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Town)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Postcode)
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    @Html.DisplayFor(model => model.NumberStreetName)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Locality)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Town)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Postcode)
                </td>
            </tr>
        </tbody>
    </table>
</div>