@model CareHome.Models.CareHomes

<div class="AddressDetailsTable modal">
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.AddressDetails.NumberStreetName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.AddressDetails.Locality)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.AddressDetails.Town)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.AddressDetails.PostCode)
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    @Html.DisplayFor(model => model.AddressDetails.NumberStreetName)
                </td>
                <td>
                    @Html.DisplayFor(model => model.AddressDetails.Locality)
                </td>
                <td>
                    @Html.DisplayFor(model => model.AddressDetails.Town)
                </td>
                <td>
                    @Html.DisplayFor(model => model.AddressDetails.PostCode)
                </td>
            </tr>
        </tbody>
    </table>
</div>