@page
@model CareHome.Views.AddressDetails.IndexModel

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AddressDetails[0].NumberStreetName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AddressDetails[0].Locality)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AddressDetails[0].Town)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AddressDetails[0].PostCode)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.AddressDetails) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NumberStreetName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Locality)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Town)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PostCode)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.AddressDetailsId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.AddressDetailsId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.AddressDetailsId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
