@model CareHome.Models.Qualifications

<div>
    <h4>
        Qualifications For:  @Html.DisplayFor(model => model.Staff.Forename) @Html.DisplayFor(model => model.Staff.MiddleNames)  @Html.DisplayFor(model => model.Staff.LastName)
    </h4>

    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.QualificationType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.QualificationType)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Grade)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Grade)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.InstitutionalName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.InstitutionalName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AttainmentDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AttainmentDate)
        </dd>
    </dl>
    <input type="hidden" asp-for="QualificationsId" />
    <a class="btn btn-primary" href="~/Qualifications/Edit/@Model.QualificationsId">Edit</a> |  <a class="btn btn-warning" href="~/Qualifications/Index/@Model.StaffId">Cancel</a>
</div>
<div>
    <p></p>
    <a href="~/Staff/Details/@Model.StaffId">Back To Staff Details</a> | <a href="~/Staff/Index/@Model.Staff.CareHomesId">Back To Staff Page</a>
</div>
