@model CareHome.Models.Qualifications

<div>
    <h4>
        Qualifications For:  @Html.DisplayFor(model => model.Staff.Forename) @Html.DisplayFor(model => model.Staff.MiddleNames)  @Html.DisplayFor(model => model.Staff.LastName)
    </h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.QualificationType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.QualificationType)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Grade)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Grade)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.InstitutionalName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.InstitutionalName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AttainmentDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AttainmentDate)
        </dd>
    </dl>
    <input type="hidden" asp-for="QualificationsId" />
</div>
<div>
    <a href="~/Qualifications/Edit/@Model.QualificationsId">Edit</a>| <br />
    <a href="~/Qualifications/Index/@Model.StaffId">Back Qualifications List</a>| <br />
    <a href="~/Staff/Details/@Model.StaffId">Back To Staff Details</a>| <br />
    <a href="~/Staff/Index/@Model.Staff.CareHomesId">Back To Staff Page</a>| <br />
</div>
