@model IEnumerable<CareHome.Models.Staff>

@{
    ViewData["Title"] = "Index";
}

<h1>
    Staff Members At Health Care:  @Html.DisplayFor(model => model.FirstOrDefault().CareHomes.Name)
</h1>

<p>
    <a asp-action="Create" asp-route-id="@Model.First().CareHomesId">Create New</a>
</p>

<div id="pager" class="pager">
    <form>
        <img src="~/lib/tablesorter/dist/css/images/next.png" class="first" />
        <img src="~/lib/tablesorter/dist/css/images/prev.png" class="prev" />
        <!-- the "pagedisplay" can be any element, including an input -->
        <span class="pagedisplay" data-pager-output-filtered="{startRow:input} &ndash; {endRow} / {filteredRows} of {totalRows} total rows"></span>
        <img src="~/lib/tablesorter/dist/css/images/next.png" class="next" />
        <img src="~/lib/tablesorter/dist/css/images/last.png" class="last" />
        <select class="pagesize">
            <option value="10">10</option>
            <option value="20">20</option>
            <option value="30">30</option>
            <option value="40">40</option>
            <option value="all">All Rows</option>
        </select>
    </form>
</div>

<table class="table tableSorter">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Forename)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MiddleNames)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th data-sorter="false" data-filter="false">
                @Html.DisplayNameFor(model => model.AddressDetails)
            </th>
            <th data-sorter="false" data-filter="false">
                @Html.DisplayNameFor(model => model.ContactInfo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DOB)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Department)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.JobTitle)
            </th>
            <th data-sorter="false" data-filter="false">
                @Html.DisplayNameFor(model => model.CareHomes)
            </th>
            <th data-sorter="false" data-filter="false"></th>
        </tr>
    </thead>

    <tbody>

        @foreach (var item in Model.Where(x => x.CareHomesId == int.Parse(ViewData["Id"].ToString())))
        {

            ViewData["ItemID"] = item.StaffId;

            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Forename)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MiddleNames)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    <a href="javascript:void(0);" rel="modal:open" data-id="@item.StaffId" class="DisplayAddressDetail">view</a>
                    @await Html.PartialAsync("../AddressDetails/Index.cshtml", item.AddressDetails,ViewData)
                </td>
                <td>
                    <a href="javascript:void(0);" rel="modal:open" data-id="@item.StaffId" class="DisplayContactDetails">view</a>
                    @await Html.PartialAsync("../ContactDetails/Index.cshtml", item.ContactInfo,ViewData)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DOB)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Department.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.JobTitle.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CareHomes.Name)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.StaffId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.StaffId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.StaffId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<a href="~/Staff/Index/@Model.FirstOrDefault().CareHomesId">Back To Care Home</a>

